* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo .logo-header {
  color: #2e2f42;
}

.menu {
  list-style: none;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  margin-left: 40px;
}

.menu a,
.contact-info a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 40px;
  font-style: normal;
}

.menu a:hover,
.contact-info a:hover {
  color: #404bbf;
}

.menu a:focus,
.contact-info a:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
  color: #ffffff;
  text-align: center;
  padding: 188px 20px;
}

.hero .h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.cta-button {
  margin-top: 20px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 48px;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.cta-button:hover {
  background-color: #4d5ae5;
}

.cta-button:focus {
  background-color: #4d5ae5;
}

.features {
  padding: 120px 0;
}

.features-list {
  margin-top: 120px;
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: space-around;
}

.features-list .h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list p {
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}

.team .h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 30px;
}

.team-list {
  font-family: 'Roboto', sans-serif;
  margin-top: 72px;
  display: flex;
  font-size: 20px;
  list-style: none;
  justify-content: space-around;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list li {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}

.team-list .h3 {
  color: #2e2f42;
  line-height: 1.2;
  margin-top: 32px;
}

.team-list p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  margin-top: 8px;
}
.portfolio {
  padding: 120px 0;
}

.portfolio .h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: space-between;
}

.portfolio-list li {
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
  background: #ffffff;
}

.portfolio-list h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-left: 16px;
}

.portfolio-list p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-left: 16px;
}

.footer {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: left;
  padding: 100px 0;
}

.footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 16px;
}

.footer a {
  color: #4d5ae5;
  text-decoration: none;
}

.logo .logo-footer {
  color: #f4f4fd;
}
